netcare-mvk-integration/src/main/resources/schemas/SSO/mvk/asb/ssoservice/core/MvkSSOServiceBase_v100.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:mvk:asb:sso:v100:core" xmlns:bons0="urn:mvk:asb:sso:v100:core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="HealthCareFacilityType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="resourceName" type="xsd:string"/>
			<xsd:element minOccurs="0" name="resourceId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="healthCareFacilityId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="healthCareFacilityName" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SSOObjectType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sysId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="authMethod">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="level1"/>
						<xsd:enumeration value="level3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="tokenTimeout" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="cert" type="xsd:string"/>
			<xsd:element minOccurs="0" name="healthCareFacility" type="bons0:HealthCareFacilityType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>