netcare-mvk-integration/src/main/resources/schemas/SSO/interactions/pushid/PushIdInterface_v100.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PushIdInterface" targetNamespace="urn:mvk:asb:sso:v100:pushid" xmlns:bons0="urn:mvk:asb:sso:v100:pushid" xmlns:bons1="urn:mvk:asb:common:base:1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="urn:mvk:asb:sso:v100:pushid" xmlns:bons2="urn:mvk:asb:sso:v100:PushIdResponder">
            <xsd:import namespace="urn:mvk:asb:sso:v100:PushIdResponder" schemaLocation="../../mvk/asb/ssoservice/interactions/pushid/PushIdResponder_v100.xsd"/>
      <xsd:import namespace="urn:mvk:asb:common:base:1" schemaLocation="../../mvk/asb/common/base/core/MvkCommonBase_1.0.xsd"/>
      <xsd:element name="header" nillable="true" type="bons1:MvkRequestHeaderType"/>
      <xsd:element name="input" nillable="true" type="bons2:PushIdType"/>
      <xsd:element name="output" nillable="true" type="bons2:PushIdResponseType"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="pushIdRequestMsg">
    <wsdl:part element="bons0:header" name="mvkHeader"/>
    <wsdl:part element="bons0:input" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="pushIdResponseMsg">
    <wsdl:part element="bons0:output" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="PushIdInterface">
    <wsdl:operation name="pushId">
      <wsdl:input message="bons0:pushIdRequestMsg" name="pushIdRequest"/>
      <wsdl:output message="bons0:pushIdResponseMsg" name="pushIdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>