netcare-mvk-integration/src/main/resources/schemas/ValidateID/wsdl/se/modul1/mvk/asb/sso/SSOObjectType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:mvk:asb:mvksso:ssoobjekttype:1:0"
	xmlns:bons0="urn:mvk:asb:mvksso:ssoobjekttype:1:0"
	xmlns:bons1="urn:mvk:asb:interaction:healthcare_facility:1:0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import
		namespace="urn:mvk:asb:interaction:healthcare_facility:1:0"
		schemaLocation="healthcare_facility.xsd" />
	<xsd:complexType name="SSOObjectType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="Guid" type="xsd:string" />
			<xsd:element minOccurs="1" name="SysId" type="xsd:string" />
			<xsd:element minOccurs="1" name="UserId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="AutMethod">
				<xsd:annotation>
          
        <xsd:documentation>User autentication level:
1 – certifikat hårt + engångslösenord
3 – certifikat mjukt + engångslösenord 
</xsd:documentation></xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">






						<xsd:enumeration value="level1"></xsd:enumeration>
						<xsd:enumeration value="level3"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="1" name="TokenTimeOut"
				type="xsd:int">
				<xsd:annotation>
          <xsd:documentation>Token timeout.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Cert" type="xsd:string" />
			<xsd:element minOccurs="0" name="UserType"><xsd:annotation><xsd:documentation>Anger typ av inloggad användare. Kan vara följande:
INV - Invånare
VA - Vårdaktör
SYSTEM - System</xsd:documentation></xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="INV"></xsd:enumeration>
						<xsd:enumeration value="VA"></xsd:enumeration>
						<xsd:enumeration value="SYSTEM"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="healthcare_facility"
				type="bons1:healthcare_facility">
			</xsd:element>




		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>