netcare-mvk-integration/src/main/resources/schemas/ValidateID/wsdl/se/modul1/mvk/asb/sso/ValidateIdResponseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="urn:mvk:asb:interaction:ValidateIdResponder:1:0"
	xmlns:bons1="urn:mvk:asb:interaction:ValidateIdResponder:1:0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="urn:mvk:asb:mvksso:ssoobjekttype:1:0">
	<xsd:import schemaLocation="SSOObjectType.xsd"
		namespace="urn:mvk:asb:mvksso:ssoobjekttype:1:0">
	</xsd:import>
	<xsd:complexType name="ValidateIdResponseType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="statusCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="OK" />
						<xsd:enumeration value="ERROR" />
						<xsd:enumeration value="WARNING" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="statusText"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ssoobject"
				type="bons0:SSOObjectType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>