netcare-mvk-integration/src/main/resources/schemas/SSO/mvk/asb/common/base/core/MvkCommonBase_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:mvk:asb:common:base:1"
	xmlns:bons0="urn:mvk:asb:common:base:1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ResultBaseType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="resultCode"
				type="bons0:ResultCodeEnum">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultText"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorBaseType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="errorMessage"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="causeErrorMessage"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceVersionType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="version">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1.0.0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InitiatorUserInfoType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="userType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="INV" />
						<xsd:enumeration value="VARDAKTOR" />
						<xsd:enumeration value="SYSTEM" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="1" name="userIdType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="PNR_RNR" />
						<xsd:enumeration value="HSAID" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="1" name="userId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="userCountyCode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ResultCodeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK" />
			<xsd:enumeration value="ERROR" />
			<xsd:enumeration value="UNAUTHORIZED" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType abstract="false" name="MvkRequestHeaderType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="serviceVersion"
				type="bons0:ServiceVersionType">
			</xsd:element>
			<xsd:element minOccurs="0" name="logicalAddress"
				type="bons0:LogicalAddressType">
			</xsd:element>
			<xsd:element minOccurs="1" name="initiatorUserInfo"
				type="bons0:InitiatorUserInfoType">
			</xsd:element>
			<xsd:element minOccurs="0" name="authToken"
				type="bons0:AuthenticationInformationType">
			</xsd:element>
			<xsd:element minOccurs="0" name="asbTechData"
				type="bons0:ASBTechDataType">
			</xsd:element>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" processContents="lax" />
	</xsd:complexType>
	<xsd:complexType abstract="false" name="MvkResponseHeaderType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="status"
				type="bons0:ResultBaseType">
			</xsd:element>
			<xsd:element minOccurs="0" name="error"
				type="bons0:ErrorBaseType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LogicalAddressType">
		<xsd:annotation><xsd:documentation>Anger ett unikt namn för en logisk adress. Oftast används hsa-id. Kan man inte tillämpa hsa-id kan ett unikt id för enheten användas.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType name="AuthenticationInformationType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="userSSOTicket"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="systemSSOTicket"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ASBTechDataType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="transactionId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="serviceName"
				type="bons0:ServiceNameType">
			</xsd:element>
			<xsd:element minOccurs="0" name="operationName"
				type="bons0:OperationType">
			</xsd:element>
			<xsd:element minOccurs="0" name="endpointUrl"
				type="bons0:EndpointAddressType">
			</xsd:element>
			<xsd:element minOccurs="0" name="asbTimestamp"
				type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="configurationData"
				type="bons0:ConfigurationData">
			</xsd:element>
			<xsd:element minOccurs="0" name="others" type="xsd:anyType"
				maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="EndpointAddressType">
		<xsd:restriction base="xsd:anyURI" />
	</xsd:simpleType>
	<xsd:simpleType name="OperationType">
		<xsd:annotation><xsd:documentation>Anger namnet på en operation i ett tjänstekontrakt.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="ServiceNameType">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="ProfileNameType">
		<xsd:annotation>
      <xsd:documentation>Anger tjänstekontraktets profilnamn.</xsd:documentation>
    </xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType name="ServiceContractProfileType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name"
				type="bons0:ProfileNameType">
				<xsd:annotation><xsd:documentation>Detta objekt håller information om ett tjänstekontrakts profilinformation.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="description"
				type="xsd:string"><xsd:annotation><xsd:documentation>Beskriver tjänstekontraktets profil.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceComponentType">
		<xsd:annotation><xsd:documentation>Detta objekt beskriver en motpart som interagerar med MVK/ASB. ServiceComponent är oftast ett system hos en partner. En ServiceComponent kan ha flera logiska adressater och tjänstekontrakt kopplade till sig.</xsd:documentation></xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name"
				type="bons0:ServiceNameType">
				<xsd:annotation><xsd:documentation>Namn på en tjänstekomponent. </xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="description"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endpointAddress"
				type="bons0:EndpointAddressType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceContractType">
		<xsd:annotation><xsd:documentation>Detta objekt håller information om ett tjänstekontrakt.</xsd:documentation></xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="description"
				type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>Beskrivning av tjänstekontraktet.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="targetNamespace"
				type="bons0:TargetNamespaceType">
			</xsd:element>
			<xsd:element minOccurs="0" name="operation"
				type="bons0:OperationType">
			</xsd:element>
			<xsd:element minOccurs="0" name="version"
				type="bons0:ServiceContractVersionType">
			</xsd:element>
			<xsd:element minOccurs="0" name="domain"
				type="bons0:ServiceDomainEnum">
			</xsd:element>
			<xsd:element minOccurs="0" name="profile"
				type="bons0:ServiceContractProfileType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ServiceContractVersionType">
		<xsd:annotation><xsd:documentation>Håller version av ett specifikt tjänstekontrakt.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="TargetNamespaceType">
		<xsd:annotation><xsd:documentation>Anger namnrymd för ett tjänstekontrakt.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="AdapterModuleIdType">
		<xsd:annotation><xsd:documentation>Anger ett id för den adapter som är kopplad till ett visst flöde för en logiskadressat och operation.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="TransportChannelModuleIdType">
		<xsd:annotation><xsd:documentation>Anger ett id för den transportmodul som är kopplad till ett visst flöde för en logiskadressat och operation.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType name="LogicalAddressatType">
		<xsd:annotation><xsd:documentation>Logisk adressat är en logisk enhet som utbyter information med MVK. En logisk addressat kan ha flera tjänstekontrakt kopplade till sig. En logisk adressat kan tillhöra flera service componenter. Däremot kan en logiskadressat och ett service contract endast vara kopplad till en servicecomponent.</xsd:documentation></xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="logicalAddress"
				type="bons0:LogicalAddressType">
			</xsd:element>
			<xsd:element minOccurs="0" name="name" type="xsd:string"><xsd:annotation><xsd:documentation>Anger ett beskrivande namn för en logiskadressat.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="description"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>Beskriver en logisk adressat.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MediationFlowModuleType">
		<xsd:annotation><xsd:documentation>Detta objekt håller de moduler som ingår i ett integrationsflöde och som dynamiskt kan anropas i ett integrationsflöde.</xsd:documentation></xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="adapterId"
				type="bons0:AdapterModuleIdType">
			</xsd:element>
			<xsd:element minOccurs="0" name="trpchannelId"
				type="bons0:TransportChannelModuleIdType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ServiceDomainEnum">
		<xsd:annotation><xsd:documentation>Enum som håller den domän som ett tjänstekontrakt tillhör, kan vara scheduling för tidboken.</xsd:documentation></xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="scheduling"></xsd:enumeration>
			<xsd:enumeration value="eservicesupply"></xsd:enumeration>
			<xsd:enumeration value="sms"></xsd:enumeration>
			<xsd:enumeration value="otp"></xsd:enumeration>
			<xsd:enumeration value="sso"></xsd:enumeration>
			<xsd:enumeration value="generalmessage"></xsd:enumeration>
			<xsd:enumeration value="putnotice"></xsd:enumeration>
			<xsd:enumeration value="issueapi"></xsd:enumeration>
			<xsd:enumeration value="listing"></xsd:enumeration>
			<xsd:enumeration value="nutrition"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ConfigurationData">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="logicalAdressat"
				type="bons0:LogicalAddressatType">
			</xsd:element>
			<xsd:element minOccurs="0" name="serviceComponent"
				type="bons0:ServiceComponentType">
			</xsd:element>
			<xsd:element minOccurs="0" name="serviceContract"
				type="bons0:ServiceContractType">
			</xsd:element>
			<xsd:element minOccurs="0" name="mediationConfig"
				type="bons0:MediationFlowModuleType">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>